<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151306733573-vtasv92uh3hbfsvd5jbll4vg4a157na5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151306733573-vtasv92uh3hbfsvd5jbll4vg4a157na5</string>
	<key>API_KEY</key>
	<string>AIzaSyDfnRgm3b2rlKSpqtgF1UFX-pLWZiFlLXY</string>
	<key>GCM_SENDER_ID</key>
	<string>151306733573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nuniplay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>uniplay-556bb</string>
	<key>STORAGE_BUCKET</key>
	<string>uniplay-556bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151306733573:ios:dc36498af3f915126ff46c</string>
	<key>DATABASE_URL</key>
	<string>https://uniplay-556bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>